<div class="container " style="text-align: center;">
    <form  #registerForm="ngForm" (ngSubmit)="actualizarF()">
      <div class="row">
      <button  [routerLink]="['/principal']" type="button" class="btn btn-outline-info">Menú Principal</button>
      <h1 class="display-5">Actualizar Informacion</h1>  
    </div>
      <img src="assets/actualizarLogo.png" width="60" height="60" id="icon" alt="User Icon" /> 
      <br>
      <br>
      <div class="row">
        <div class="col">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" placeholder="Ingrese su Nombre" name="nombre" #nombre="ngModel"
            [(ngModel)]="paciente.nombre">
        </div>
        <div class="col">
          <label for="Apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" placeholder="Ingrese su Apellido" name="apellido" #apellido="ngModel"
            [(ngModel)]="paciente.apellido">
        </div>
          
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label for="Apellido" class="form-label">Usuario </label>
          <input type="text" class="form-control" placeholder="Usuario" name="usuario" #usuario="ngModel"
            [(ngModel)]="paciente.usuario">
        </div>
        <div class="col">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" placeholder="Ingrese Su contraseña" name="password"
            #password="ngModel" [(ngModel)]="paciente.password">
        </div>
      </div>
      <br>
  
      <div class="row">
        <div class="col">
          <label for="correo" class="form-label">Correo</label>
          <input type="email" class="form-control" placeholder="Ingrese su Correo" name="correo" #correo="ngModel"
            [(ngModel)]="paciente.correo">
        </div>
        <div class="col">
          <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento </label>
          <input type="date" class="form-control" placeholder="Fecha de Nacimiento" name="fechaNacimiento"
            #fechaNacimiento="ngModel" [(ngModel)]="paciente.fechaNacimiento">
        </div>
          
      </div>
      <br>
      <div class="row">
        <div class="col" style="text-align: center;">
          <label for="telefono" class="form-label">Num.Telefono </label>
          <input type="text" class="form-control" placeholder="Ingrese su Numero de Telefono / Opcional" name="telefono"
            #telefono="ngModel" [(ngModel)]="paciente.telefono">
        </div>
        <div class="col">
          <label for="sexo" class="form-label">Genero </label>
          <input type="text" class="form-control" placeholder="Ingrese Su Genero" name="fechaNacimiento"
            #fechaNacimiento="ngModel" [(ngModel)]="paciente.sexo">
        </div>
          
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-outline-success">Actualizar</button>
      <br>
      
      
  
  
  
    </form>
  </div>