<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Services section -->
<div class="row" style="text-align: center;">
	<button [routerLink]="['/login']" type="button" class="btn btn-outline-danger">Cerrar Sesión</button>
</div>


<section id="what-we-do">
	<div class="container-fluid">
		<h2 class="section-title mb-2 h1">Menu Principal</h2>
		<p class="text-center text-muted h5">Su salud es primero </p>
		<div class="row mt-5">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
				<div class="card">
					<div class="card-block block-1">
						<h3 class="card-title">Actualizar Informacion</h3>
						<p class="card-text">Puede actualizar sus datos entrando en el siguiente enlace</p>
						<a [routerLink]="['/editar-Paciente']" title="Read more" class="read-more">Actualizar<i
								class="fa fa-angle-double-right ml-2"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
				<div class="card">
					<div class="card-block block-2">
						<h3 class="card-title">Solicitar Cita</h3>
						<p class="card-text">Aca puede solicitar una cita para la fecha que le sea mas conveniente</p>
						<a [routerLink]="['/solicitarCita']" title="Read more" class="read-more">Nueva Cita<i
								class="fa fa-angle-double-right ml-2"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">

				<div class="card">
					<div class="card-block block-5">
						<h3 class="card-title">Estado de Citas</h3>
						<p class="card-text">Aca puede visualizar el estado de las citas que usted ha solicitado </p>
						<a [routerLink]="['/listadoCitas']" title="Read more" class="read-more">Visualizar Citas<i
								class="fa fa-angle-double-right ml-2"></i></a>
					</div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">

				<div class="card">
					<div class="card-block block-3">
						<h3 class="card-title">Ver Recetas</h3>
						<p class="card-text">Visualizar todas las recetas recetadas por el doctor correspondiente </p>
						<a [routerLink]="['/listadoRecetas']" title="Read more" class="read-more">Recetas<i
								class="fa fa-angle-double-right ml-2"></i></a>
					</div>
				</div>

			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">

				<div class="card">
					<div class="card-block block-4">
						<h3 class="card-title">Descripción de Medicamentos</h3>
						<p class="card-text">Visualizar las indicaciones de los medicamentos que tenemos a la venta</p>
						<a [routerLink]="['/medicina']" title="Read more" class="read-more">Medicamentos<i
								class="fa fa-angle-double-right ml-2"></i></a>
					</div>
				</div>

			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
				<div class="card">
					<div class="card-block block-6">
						<h3 class="card-title">Comprar Medicina</h3>
						<p class="card-text">Adquirir medicamentos que sean necesarios, si no sabe que comprar revise su receta </p>
						<a [routerLink]="['/comprarMedicina']" title="Read more" class="read-more">Comprar<i
								class="fa fa-angle-double-right ml-2"></i></a>
								
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Services section -->