<div class="row" style="text-align: center;">
    <button [routerLink]="['/principal']" type="button" class="btn btn-outline-info">Menu Principal</button>
    <h1 class="display-5">Medicamentos</h1>
    <div class="col">
        <img src="assets/medicamentoLogo.png" style="text-align: center;" width="45" height="45" id="icon"
            alt="User Icon" />

    </div>
</div>
<br>

<div class="row row-cols-1 row-cols-md-6 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="assets/panadolazul.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" />
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Panadol</h5>
                <p class="card-text">
                    Analgésico y antipirético
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="assets/aspirina.png" class="card-img-top" alt="Palm Springs Road" />
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Aspirina Forte</h5>
                <p class="card-text">Medicamento que reduce el dolor, la fiebre, la inflamación y la coagulación de la
                    sangre</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="assets/tabcin.jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Tabcin</h5>
                <p class="card-text" style="text-align: center;">contiene Paracetamol que disminuye la fiebre y reduce
                    el dolor, y Dextrometorfano
                    que es un antitusivo que aminora el reflejo de la tos</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="assets/aleve.png" class="card-img-top" alt="Skyscrapers" />
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Aleve</h5>
                <p class="card-text" style="text-align: center;">
                    el analgésico ideal para los fuertes dolores de cuerpo, articulaciones y espalda
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="assets/acetaminofen.jpg" class="card-img-top" alt="Skyscrapers" />
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Acetaminofen</h5>
                <p class="card-text">
                    El acetaminofeno se usa para aliviar el dolor leve o moderado de las cefaleas, dolores musculares,
                    períodos menstruales, resfriados, y los dolores de garganta.
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img src="assets/salAndrews.jpg" class="card-img-top" alt="Skyscrapers" />
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Sal Andrews</h5>
                <p class="card-text">
                    El producto Sal Andrews Clásica es un polvo efervescente que se utiliza para el tratamiento de
                    malestar estomacal, acidez e indigestión.
                </p>
            </div>
        </div>
    </div>
</div>